<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management System Footer</title>
      {%include 'cdnfile.html'%}

</head>
<body>
 {%include 'nevbar.html'%}
 {%block hari%}

{% endblock %}


    <!-- Footer -->
    <footer class="bg-primary text-white pt-4">
        <div class="container">
            <div class="row">
                <!-- About Section -->
                <div class="col-md-4">
                    <h5>About Us</h5>
                    <p>We provide top-notch healthcare services with experienced doctors, modern equipment, and patient-centered care.</p>
                </div>
                <!-- Quick Links -->
                <div class="col-md-4">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Dashboard</a></li>
                        <li><a href="#" class="text-white">Patients</a></li>
                        <li><a href="#" class="text-white">Doctors</a></li>
                        <li><a href="#" class="text-white">Appointments</a></li>
                        <li><a href="#" class="text-white">Contact Us</a></li>
                    </ul>
                </div>
                <!-- Contact Info -->
                <div class="col-md-4">
                    <h5>Contact Us</h5>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-map-marker"></i> 123 Healthcare St, Cityname</li>
                        <li><i class="fa fa-phone"></i> +1 (555) 123-4567</li>
                        <li><i class="fa fa-envelope"></i> contact@hospital.com</li>
                    </ul>
                    <div>
                        <a href="#" class="text-white mr-3"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="text-white mr-3"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="text-white mr-3"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <hr class="bg-light">
            <div class="text-center py-3">
                © 2023 Hospital Management System. All rights reserved.
            </div>
        </div>
    </footer>

    <!-- Font Awesome for icons -->

</body>
</html>



