<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management System</title>
   {%include 'cdnfile.html'%}
    {% load static %}
</head>
<body>
 {% block hari%}


{% endblock %}

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{%url 'mainpage'%}">Hospital Management</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'user_data'%}">Patients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'doctor1'%}">Doctors</a>
                </li>
                <li class="nav-item">
                    <a   class="nav-link"  href="{% url 'user_appointment_booking' %}">Book an Appointment</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'hospitle_Billing'%}">Billing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'report_doctor'%}">patient report</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'report'%}">Reports</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'loginUser'%}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logoutPage'%}">logout</a>
                </li>
            </ul>
        </div>
    </nav>


</body>
</html>
